* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: show; 
}

body {
  background-image: url('../public/images/peakpx.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Navbar link styles */
.navbar-nav .nav-link {
  color: #FFF;
  font-size: 18px;
  text-decoration: none;
  margin-right: 15px;
}

/* Active Navbar link styles */
.navbar-nav .nav-link.active {
  color: #FFF;
  font-weight: bold;
}

/* Override default active link color */
.navbar-nav .nav-item.active .nav-link {
  color: #FFF;
}





.jumbotron {
  height: 60vh;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -100px;
  background-color: rgba(0, 0, 0, 0.0); 
}

/*.jumbotron {
  height: 60vh;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -100px; 
}*/

.jumbotron-data {
  height: 40vh;
  padding: 1rem;
  font-family: "Your Font", sans-serif;
  font-size: 80px;
  font-weight: bold;
  color: #FFF;
}

.jumbotron-title {
  font-size: 50px; 
  color:#FBECB2; 
}

.jumbotron-content {
  font-size: 30px; 
  color: #DDE6ED; 
}



.banner {
  color: #FFFFFF; 
  font-size: 24px; 
}

.transparent-navbar .nav-link {
  font-size: 25px; /* Adjust the font size to your preferred size */
  color: #F9F5F6; 
}

#home-link {
  color: #FBECB2; 
}


.cardHighlight {
  background-color: #B6FFFA; 
  padding: 10px; /* Add padding for better appearance */
  min-height: 100%;
  border: 0;

}



.highlights {
  padding-top: 3rem; 
  min-height: 100%;
}

.mt-4 {
  margin-top: 2rem;
}

  /*for Log in forms*/
.form-label {
  font-size: 16px; 
  color: #555; 
}

/* Styles for the form input fields */
.form-input {
  font-size: 16px; 
  color: #333; 
}

/* Style for the submit button */
.form-submit-btn {
  font-size: 18px;
  color: #FFF; 
  background-color: #007bff; 
  border: none; 
}

/*for Highlights text*/
.card-highlight-text {
  font-size: 20px; /* Change the size to your preference */
  color: #CD5C08; /* Change the color to your preference */
}

.card-highlight-title {
  font-size: 24px; /* Change the size to your preference */
  color: #CD5C08; /* Change the color to your preference */
}
.h2-highlight {
  font-size: 28px; /* Change the size to your preference */
  color: #CD5C08; /* Change the color to your preference */
}



