

body{
 background-image:url("https://cdn.pixabay.com/photo/2022/03/29/12/55/triangle-7099452_640.png");
 background-repeat: none;
 background-attachment:fixed;
 background-position: auto;
 background-size: 100%;
 font-family: 'Playfair Display', serif;
 color:ligh;

}

.nav-item {
color: black;
text-decoration: none;
}


.hide {
    display:none;
}

.smartphone-icon:hover + .hide{
    display :block;
    margin-bottom: -100px;
}

.email-icon:hover + .hide{
    display :block;
    margin-bottom: -100px;
}

.viber-icon:hover +.hide{
    display :block;
    margin-bottom: -100px

}

.messenger-icon:hover +.hide{
    display :block;
    margin-bottom: -100px
}